@font-face {
    font-family: "Helvetica Neue";
    src: url('../fonts/HelveticaNeue.ttf');
}

/* Reset Style */
*,*::after,*::before {
    padding    : 0;
    margin     : 0;
    box-sizing : border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  

  
  #stop-scrolling{
    height: 100% !important;
    overflow: hidden !important;
  }
  
  .preloader{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999999;
    background-image: url('/images/Ball-Drop-Preloader-1-1.gif');
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
  }

.blockchain-deposit-modal{
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -12.5%;
  width: 25%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 1px 0.5px #ababab;
  z-index: 105;
  display: block;
  text-align: center;
  border-radius: 20px;
  display: none;
}
.deposit-img-container img{
  width: 200px;
  padding: 10px;
}
.deposit-img-container{
  display: block;
}
.deposit-modal-bg, #deposit-modal-bg{
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  display: none;
}
.header-txt{
  font-size: large;
  font-weight: bold;
  display: block;
  padding: 10px 5px 5px;
  text-align: center;
  margin-bottom: 10px;
}
.description-txt{
  display: block;  
  text-align: center;
  font-size: small;
  padding: 0px 5px;
}
#wallet-address-input{
  margin-top: 10px;
}
.input-container, .dep-container{
  padding: 5px 0px;
  width: 100%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.dep-container button{
  padding: 10px;
  width: 100%;
  border-radius: 50px;
  margin: 5px 0px;
  cursor: pointer;
  transition: 0.3s ease;
}

.dep-container button:hover{
  transition: 0.3s ease;
  /* background-color: ; */
}
.deposit-opt-one{
  margin-top: 20px;
}

.input-container:first-child{
  margin-top: 10px;
}
.input-container input{
  padding: 10px;
  border-radius: 7px;
  background-color: #ddd;
  border: 1px solid #ddd;
  outline: none !important;
  width: 100%;
  transition: 0.3s ease all;
  font-weight: semi-bold;
}

.input-container input:focus{
  border: 1px solid dodgerblue;
  background-color: white;
  transition: 0.3s ease all;
}

.blockchain-btn{
  padding: 10px;
  border-radius: 7px;
  background-color: #3c89f5;
  border: none;
  outline: none !important;
  width: 100%;
  color: #fff;
  transition: 0.3s ease all;
  cursor: pointer;
}
.blockchain-btn:hover{
  background-color: #2161bf;
}
#payment-section-two{
  display: none;
}
#loader{
  display: none;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  border-top: 2px solid #2161bf;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  animation: load 1s linear infinite;
  margin:30px 10px 10px;
  text-align: center;
}

@keyframes load{
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}

.usdt-deposit-modal{
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -12.5%;
  width: 25%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 1px 0.5px #ababab;
  z-index: 105;
  display: block;
  text-align: center;
  border-radius: 20px;
  display: none;
}

.usdt-deposit-modal img{
  width: 100px;
}


/* .btc-deposit-modal{
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -12.5%;
  width: 25%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 1px 0.5px #ababab;
  z-index: 105;
  display: block;
  text-align: center;
  border-radius: 20px;
  display: none;
} */

.modal-content-payment img{
  width: 100px;
}

.tether-btn{
  background-color: #50af95;
  padding: 10px;
  border-radius: 7px;
  border: none;
  outline: none !important;
  width: 100%;
  color: #fff;
  transition: 0.3s ease all;
  cursor: pointer;
}

.bitcoin-btn{
  background-color: #ed9221;
  padding: 10px;
  border-radius: 7px;
  border: none;
  outline: none !important;
  width: 100%;
  color: #fff;
  transition: 0.3s ease all;
  cursor: pointer;
}


.wallet-address-container{
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px 10px;
}

.btc-explain-txt{
  display: block;
  color: #ed9221;
  /* font-size: small; */
  padding: 10px;
}

.explain-txt{
  display: block;
  color: #50af95;
  /* font-size: small; */
  padding: 10px;
}

.copy-address-btn{
  display: block;
  width: 100%;
  padding: 10px 0px;
  background-color: #fff;
  color: #50af95;
  /* border: 1px solid #50af95; */
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 1px 0.2px #ddd;
  margin: 10px 0px;
  border-radius: 10px;
  transition: 0.3s ease all;
}
.copy-address-btn:hover{
  background-color: #50af95;
  color: #fff;
  transition: 0.3s ease all;
}

.btc-copy-address-btn{
  display: block;
  width: 100%;
  padding: 10px 0px;
  background-color: #fff;
  color: #ed9221;
  /* border: 1px solid #50af95; */
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 1px 0.2px #ddd;
  margin: 10px 0px;
  border-radius: 10px;
  transition: 0.3s ease all;
}
.btc-copy-address-btn:hover{
  background-color: #ed9221;
  color: #fff;
  transition: 0.3s ease all;
}

.verif-texrt-explain{
  display: block;
}
#wallet-usdt-req{
  display: none;
}

#wallet-btc-req{
  display: none;
}

#wallet-usdt-req img, #wallet-btc-withdrawal img{
  padding: 10px;
}

.marg{
  margin-top: 10px;
}


.modal-content-payment {
  text-align: center !important;
  position  : relative;
}

.copy-wallet-address-b{
  display: inline-block;
  width: 100%;
  padding: 10px;
  color: #880fc4;
  border: 1px solid #880fc4;
  transition: 0.3s ease all;
  margin-top: 20px;
  background-color: transparent;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}

.copy-wallet-address-b:hover{
  /* color: #fff; */
  background-color: #880fc441;
  transition: 0.3s ease all;
}

.plan-container {
  display        : flex;
  justify-content: center;
}

.plan-menu {
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-wrap      : wrap;
}

.plan-card {
  color           : white;
  background-color: rgba(255, 255, 255, 0.225);
  width           : 300px;
  border          : none;
  border-radius   : 14px;
  display         : flex;
  justify-content : center;
  align-items     : center;
  margin          : 6px;
  padding-top     : 25px;
  padding-bottom  : 25px;
  box-shadow      : rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.plan-card:hover {
  transform : scale(1.02);
  transition: ease-in-out .2s;
}


.plan-menu .plan-card .plan-body {
  text-align: center;
}

.plan-title {
  margin-bottom: 30px;
  font-size    : 2rem;
  font-weight  : 900;
  color: #880fc4;
}


.plan-content {
  margin: 25px 0 30px 0;
}

.plan-menu .plan-card .plan-body .plan-content li {
  list-style-type: none;
  font-size      : 18px;
  display        : flex;
  justify-content: center;
  width          : 100%;
  padding        : 0.3rem 0;
  color: #454545;
}
.plan-body button{
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  color: #880fc4;
  outline: none !important;
  border: 1px solid #880fc4;
  transition: 0.3s all ease;
  cursor: pointer;
}

.plan-body button:hover{
  background-color: #880fc4;
  color: #fff;
  transition: 0.3s all ease;
}

.custom_alert{
  background-color: #880fc4;
  position: fixed;
  bottom: -20%;
  left: 0;
  width: 100%;
  padding: 15px;
  color: #fff;
  animation: alert 3s ease-in-out 1;
  display: none;
  text-align: center;
  z-index: 100000;
}

@keyframes alert {
  from{
    bottom: -20%;
  }
  25%{
    bottom: 0;
  }
  50%{
    bottom: 0;
  }
  75%{
    bottom: 0;
  }
  to{
    bottom: -20%;
  }
}